# See https://git-scm.com/docs/gitattributes for more about git attribute files.

# Mark the database schema as having been generated.
db/schema.rb linguist-generated

# Mark any vendored files as having been vendored.
vendor/* linguist-vendored

# fix diff encode unix and windows. https://stackoverflow.com/questions/38905135/why-wont-my-docker-entrypoint-sh-execute
*.sh text eol=lf
