<p>Slip Gaji <%=@employee.name%> periode <%=@period_desc%> </p>
<p>Password file PDF slip gaji adalah 6 angka paling belakang no KTP karyawan pemilik slip gaji</p>
<%= render 'shared/no_reply_email'%>